{%  extends "base.html" %}

{%  block page_title %}Login Page{%  endblock %}

{% block page_heading %}Please Login{% endblock %}

{%  block content %}

    <form method="post" action="{%  url 'login' %}">
    {%  csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="login">
    </form>

{%  endblock %}