{%  extends "base.html" %}

{%  block page_title %}Registration Page{%  endblock %}

{% block page_heading %}User Registration{% endblock %}
{% block content %}
    <p>If you already have an account, you can <a href="{% url 'login' %}">sign in</a></p>
<div class="login">
    {% if messages %}
        <ul>
            {%  for message in messages %}
            <li>{{  message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Please create an account</h1>

    <form method="post">
    {%  csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
        </tr>
    </table>
        <input type="submit" name="submit" value="Register">
    </form>
</div>


{%  endblock %}