{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load static from staticfiles %}
{% block page_title %}Blog{% endblock %}

{% block page_heading %}Welcome to your Blog{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'new_post' %}" class="btn btn-primary btn-sm">Create Post</a>
        {%  for blog in blogs %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <h5 class="card-header">{{ blog.title }}</h5>
                        <div class="card-body">
                            <p>{{ blog.content }}</p>
                        </div>
                        <footer class="blockquote-footer">
                            Published on {{ blog.published_date }}

                            by
                            <i>{{ blog.author }}</i>
                        </footer>
                         {% if blog.author == user %}
                            <a href="{% url 'edit_post' %}?id={{ blog.id }}"><button type="button" class="btn btn-warning btn-sm">
                                <span><i class="fas fa-pencil-alt"></i></span> Edit </button></a>
                            <a href="{% url 'delete_post' %}?id={{ blog.id }}"><button type="button" class="btn btn-danger btn-sm">
                                <span><i class="fas fa-times"></i></span> Delete </button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    <nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if blogs.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ blogs.prvious_page_number }}">Previous</a></li>
      {% endif %}
  <span class="current">
      Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
  </span>
  {% if blogs.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a></li>
  {% endif %}

  </ul>
</nav>

    </div>
{% endblock %}