main {
    background-image: url('../images/electric_background.jpeg');
    background-size: cover;
    height: 90vh;
    color: #fafafa;
}

.unicorn_logo {
    height: 35px;
}

.post-form textarea, .post-form input {
  width: 100%;
}

