{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}Graphs{% endblock %}

{% block page_heading %}Graphs{% endblock %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="statics" style="min-width: 310px; height: 400px; margin: 0 auto" class="border"></div>
    <div>
    <h4>Highest Voted Bug </h4>
    <h5>{{ highest_voted_bug_name }}<br>{{ highest_voted_bug_count }}</h5>
    </div>
    <div>
    <h4>Highest Paid Feature</h4>
    <h5>{{ highest_paid_feature_name }}<br>£{{ highest_paid_feature_amount }}</h5>
    </div>

<script>

Highcharts.chart('statics', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Bar Chart for daily, monthly and weekly tending'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [
            'Bugs',
            'Features'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Daily',
        data: [{{ bug_count_day }}, {{ feature_count_day }}]

    }, {
        name: 'Weekly',
        data: [{{ bug_count_week }}, {{ feature_count_week }}]

    }, {
        name: 'Monthly',
        data: [{{ bug_count_month }}, {{ feature_count_month }}]

    }]
});

</script>

{% endblock %}
