{% extends 'base.html' %}
{% block page_title %}Bug Details{% endblock %}

{% block page_heading %}<i class="fas fa-bolt"> Ticket Details</i>{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                <h5 class="card-header">{{ ticket.title }}</h5>
                    <div class="card-body">
                            {% ifequal ticket.ticket_status "Todo" %}
                                <span class="badge badge-danger">Todo</span>
                            {% endifequal %}
                            {% ifequal ticket.ticket_status "Doing" %}
                                <span class="badge badge-warning">Doing</span>
                            {% endifequal %}
                            {% ifequal ticket.ticket_status "Done" %}
                                <span class="badge badge-success">Done</span>
                            {% endifequal %}
                        </div>
                    <p>{{ ticket.description }}</p>
                        <span class="badge"><i class="fas fa-eye"></i> {{ ticket.views }} </span>
                     {% if ticket.issue_type == 'Bug' %}
                        <span class="badge"><i class="fas fa-hand-paper"></i> {{ ticket.votes_total }}</span>
                {%  else %}
                <span class="badge"><i class="fas fa-pound-sign"></i> {{ ticket.money_raised }}</span>
                {% endif %}
                    <footer class="blockquote-footer">
                        Submitted on {{ ticket.created_date }}
                        by
                        <i>{{ ticket.username }}</i>
                    </footer>

                    <div class="card-action">
                    {%  if votes %}
                        <a href="{% url 'upvote' %}?id={{ ticket.id }}" class="btn btn-success btn-sm">Thank you for your vote</a>
                    {% else %}
                        <a href="{% url 'upvote' %}?id={{ ticket.id }}" class="btn btn-secondary btn-sm">I have this too</a>
                    {%  endif %}
                    <a href="{% url 'ticket_list' %}" class="btn btn-primary btn-sm">Back</a>
                        {% if username == user %}
                            <form method="GET" action="edit/{{ ticket.id }}">
                                <input type="submit" value="Edit">
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
<h4>Comments</h4>
{% for comment in comments %}
    <div class="row">
        <div class="col s12">
            <div class="card">

                <div class="card-body">
                    <div class="comments">

                            <footer class="blockquote-footer">
                            <i>{{ comment.user }}</i> commented on {{ comment.date_commented }}
                            </footer>
                            <p>{{ comment.comment }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
        <form class="post-form" method="POST" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


{% endblock %}