{% extends 'base.html' %}
{% block page_title %}Bug Details{% endblock %}

{% block page_heading %}<i class="fas fa-bolt"> Ticket Details</i>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content blue-grey-text">

                    <div class="date">
                        {{ ticket.created_date }} by
                        <i>{{ ticket.username }}</i> {% ifequal ticket.ticket_status "Todo" %}
                        <span class="badge red">Todo</span> {% endifequal %} {% ifequal ticket.ticket_status "Doing" %}
                        <span class="badge yellow">Doing</span> {% endifequal %} {% ifequal ticket.ticket_status "Done" %}
                        <span class="badge green">Done</span> {% endifequal %}
                    </div>
                    <h3>{{ ticket.title }}</h3>
                     <div class="card-action">
                        <a href="#">Vote</a>
                     </div>
                    <div class="row">
                        <div class="col s9">
                            <p>{{ ticket.description }}</p>
                            <p><span class="badge">Views: {{ ticket.views }}</span> </p>
                            <!--<p><span class="badge">Votes:</span> {{ ticket.upvotes }}</p>-->
                            <a href="{% url 'ticket_list' %}" class="btn btn-default">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card white">
        <div class="card-content blue-grey-text">
            <div class="row">
                <div class="col s12">
                    <div class="comments">
                        <p>Comments:</p>
                        {% for comment in comments %}
                        <h4><strong>{{ comment.user }}</strong><span> commented on {{ comment.date_commented }}</span></h4>
                        <p>{{ comment.comment }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
        <form class="post-form" method="POST" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-default">Submit</button>
        </form>


{% endblock %}