{% extends "base.html" %}
{% load static from staticfiles %}

{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Welcome To Your Issue Tracker{% endblock %}
{% block content %}

    <div class="container">
        <div class="intro text-center">
            <p class="h4"> Here you can.....</p>
            <ul>
                <li>Report your bugs and issues. <span class="badge badge-success"> FREE</span></li>
                <li>Upvote bugs and issues, showing that you have this issue too. <span class="badge badge-success"> FREE</span></li>
                <li>Submit features that you wish to be developed. <span class="badge badge-warning"> PAID</span></li>
                <li>Upvote features for £20 each vote, showing you want that feature too. You can buy as many votes as you wish. <span class="badge badge-warning"> PAID</span></li>
            </ul>
            <br>

            <p>The higher the upvote number is, the higher priority for implementing new features or fixing bugs.</p>
        </div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'images/unicorn_dab.jpeg' %}" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/bug-by-design.png' %}" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/light-bulb.jpg' %}" class="d-block w-50" alt="...">
    </div>
  </div>
</div>
        <div class="promise_section text-center">
            <h2 class="promise">My Promise To You</h2>
            <p>I promise to always spend at least 50% of my time working on developing the highest-paid feature.</p>
        </div>
    </div>
{% endblock %}